{% extends "__layout.twig" %}
{% import "macro.html.twig" as forms %}

{% block content %}

<li class="list-group-item">
    <h5>
        {% block objectContent %}
        Выберите, какую информацию хотите посмотреть
        {% endblock %}
    </h5>

    <ul class="nav nav-pills">
        <li class="nav-item">
            <a> {{ forms.btn("Картинка", "url", false, "warning") }} </a>
                <a class="nav-link {{ is_image }}" href="{{image_url}}">Картинка</a>
        </li>

        <li class="nav-item">
            <a> {{ forms.btn("Описание", "url", true, "warning") }} </a>
            <a class="nav-link  {{ is_info }} " href="{{info_url}}">Описание</a>
        </li>
    </ul>
</li>
{% endblock %}