{% extends "__layout.twig" %}
{% import "macro.html.twig" as forms %}

{% block content %}
<ul class="list-group">
    <li class="list-group-item">
        <a> {{ forms.btn("Рейна", "/reyna", true, "warning") }} </a>
        <a> {{ forms.btn("Картинка", "/reyna/image", true, "warning") }} </a>
        <a> {{ forms.btn("Описание", "/reyna/info", true, "warning") }} </a>
    </li>

    <li class="list-group-item">
        <a> {{ forms.btn("Киллджой", "/killjoy", true, "warning") }} </a>
        <a> {{ forms.btn("Картинка", "/killjoy/image", true, "warning") }} </a>
        <a> {{ forms.btn("Описание", "/killjoy/info", true, "warning") }} </a>
    </li>
</ul>

{% endblock %}